  <section class="chat-container">
    <div class="chat-log">
      <div class="chat-message">
        <% @messages.each do |m| %>
          <p class="chat-message__text"><%= m.content %></p>
        <% end %>
        <p class="chat-message__text" id="msg"></p>
      </div>
    </div>

    
    <%= form_for @message, :class => 'chat-input-area', remote: true do |f| %>
      <%= f.text_field :content, id: 'message_content', :placeholder => 'Write something...', :class => 'input' %>
      <%= f.submit 'Send Message', :class => 'submit-button' %>
    <% end %>
</section>


